@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'node_modules/devicon/devicon.min.css';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scroll-snap-type: y mandatory;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.bg-custom {
  background: linear-gradient(
    45deg,transparent 14%, #FFFFFF 15%, #FFFFFF 20%, transparent 21%, transparent 79%, #FFFFFF  80%, #FFFFFF 85%, transparent 86%
  ),linear-gradient(
    135deg,transparent 14%, #FFFFFF 15%, #FFFFFF 20%, transparent 21%, transparent 79%, #FFFFFF  80%, #FFFFFF 85%, transparent 86%
  ), radial-gradient(
    transparent 14%, #FFFFFF 15%, #FFFFFF 25%, transparent 26%
  );
  background-size: 1.5em 1.5em;
  background-color: #000000;
  opacity: 1;
}

/* Clockwise rotations */

.rotate-15deg{
  transform: rotate(15deg);
}

.rotate-30deg{
  transform: rotate(30deg);
}

.rotate-45deg{
  transform: rotate(45deg);
}

.rotate-60deg{
  transform: rotate(60deg);
}

.rotate-75deg{
  transform: rotate(75deg);
}

.rotate-90deg{
  transform: rotate(90deg);
}

.rotate-105deg{
  transform: rotate(105deg);
}

.rotate-120deg{
  transform: rotate(120deg);
}

.rotate-135deg{
  transform: rotate(135deg);
}

.rotate-150deg{
  transform: rotate(150deg);
}

.rotate-165deg{
  transform: rotate(165deg);
}

.rotate-180deg{
  transform: rotate(180deg);
}

.rotate-195deg{
  transform: rotate(195deg);
}

.rotate-210deg{
  transform: rotate(210deg);
}

.rotate-225deg{
  transform: rotate(225deg);
}

.rotate-240deg{
  transform: rotate(240deg);
}

.rotate-255deg{
  transform: rotate(255deg);
}

.rotate-270deg{
  transform: rotate(270deg);
}

.rotate-285deg{
  transform: rotate(285deg);
}

.rotate-300deg{
  transform: rotate(300deg);
}

.rotate-315deg{
  transform: rotate(315deg);
}

.rotate-330deg{
  transform: rotate(330deg);
}

.rotate-345deg{
  transform: rotate(345deg);
}

.rotate-360deg{
  transform: rotate(360deg);
}

/* Anti clockwise rotations */

.rotate--15deg{
  transform: rotate(-15deg);
}

.rotate--30deg{
  transform: rotate(-30deg);
}

.rotate--45deg{
  transform: rotate(-45deg);
}

.rotate--60deg{
  transform: rotate(-60deg);
}

.rotate--75deg{
  transform: rotate(-75deg);
}

.rotate--90deg{
  transform: rotate(-90deg);
}

.rotate--105deg{
  transform: rotate(-105deg);
}

.rotate--120deg{
  transform: rotate(-120deg);
}

.rotate--135deg{
  transform: rotate(-135deg);
}

.rotate--150deg{
  transform: rotate(-150deg);
}

.rotate--165deg{
  transform: rotate(-165deg);
}

.rotate--180deg{
  transform: rotate(-180deg);
}

.rotate--195deg{
  transform: rotate(-195deg);
}

.rotate--210deg{
  transform: rotate(-210deg);
}

.rotate--225deg{
  transform: rotate(-225deg);
}

.rotate--240deg{
  transform: rotate(-240deg);
}

.rotate--255deg{
  transform: rotate(-255deg);
}

.rotate--270deg{
  transform: rotate(-270deg);
}

.rotate--285deg{
  transform: rotate(-30deg);
}

.rotate--300deg{
  transform: rotate(-300deg);
}

.rotate--315deg{
  transform: rotate(-315deg);
}

.rotate--330deg{
  transform: rotate(-330deg);
}

.rotate--345deg{
  transform: rotate(-345deg);
}

.rotate--360deg{
  transform: rotate(-360deg);
}


.glass-effect {
  background: rgba(26, 31, 20, 0.5);
}

.clip-90 {
  clip-path: polygon(0% 50%, 50% 0%, 100% 100%);
}

.timeline-vertical .timeline-start {
  @apply row-start-2 row-end-3;
}

.timeline-vertical .timeline-end {
  @apply row-start-2 row-end-3;
}


@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    width: 5px;
    scrollbar-gutter: stable;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-red-600 rounded-full;
  }

  .no-scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


.mockup-code pre:before {
  content: "";
  margin-right: auto;
}

.location-icon {
  background-image: url('/images/LocationIcon.svg');
}

.custom-animate-rotate-ac-135-deg {
  @apply animate-rotate-ac-135-2s
}

.custom-animate-rotate-ac-75-deg {
  @apply animate-rotate-ac-75-2s
}

.custom-animate-rotate-ac-15-deg {
  @apply animate-rotate-ac-15-2s
}

.custom-animate-rotate-ac--45-deg {
  @apply animate-rotate-ac--45-2s
}

.custom-animate-rotate-ac-255-deg {
  @apply animate-rotate-ac-255-2s
}

/* clockwise rotations */

.custom-animate-rotate-c-135-deg {
  @apply animate-rotate-c-135-2s
}

.custom-animate-rotate-c-75-deg {
  @apply animate-rotate-c-75-2s
}

.custom-animate-rotate-c-15-deg {
  @apply animate-rotate-c-15-2s
}

.custom-animate-rotate-c--45-deg {
  @apply animate-rotate-c--45-2s
}

.custom-animate-rotate-c-255-deg {
  @apply animate-rotate-c-255-2s
}

.badge-green-500 {
  @apply bg-green-500;
}

.mockup-code > pre::before {
  margin-right: 0ch;
  display: none;
  content: ""
}